footer{
    padding-top: 50px;
    background-color: #292929;
}

/* 사이트맵 파트 */
.site-map li > a{
    display: block;
    width: 100%;
}

.site-map{
    display: flex;
    color: #fff;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.site-map ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-map ul .title > a{
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.site-map .depth1{
    padding-top: 15px;
    color: #7b7b7b;
    width: 200px;
    display: grid;
    gap: 15px;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
}

.site-map ul:nth-child(1) .depth1{
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.site-map .depth1 li{
    position: relative;
    width: 100%;
}
.site-map .depth1 li > a{
    display: block;
    width: 100%;
}
.site-map .depth1 li:hover .depth2{
    display: flex;
}

.site-map .depth2::before{
    content: '';
    background-image: url('./arrow_l.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -5%;
    top: 10px;
    display: block;
}

.site-map .depth2{
    position: absolute;
    top: -10px;
    left: 105%;
    padding: 15px 5px;
    gap: 12px;
    background-color: #4e4e4e;
    z-index: 10;
    display: none;
}

.site-map .depth2 li{
    min-width: 100px;
    width: max-content;
}

.site-map .depth2 li:hover{
    color: #fff;
}

/* 바디 파트 */
footer .body{
    margin-top: 30px;
    height: 40px;
    border-top: solid 1px #343434;
    border-bottom: solid 1px #343434;
    color: #fff;
}

footer .body .Container{
    display: flex;
    width: 1280px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

footer .body .policy{
    display: flex;
    margin-right: 30px;
    font-size: 11.5px;
    min-width: 700px;
}

footer .body .policy li{
    padding-right: 10px;
    color: #7b7b7b;
}
footer .body .policy li:nth-child(1){
    color: #0d5ffb;
}

footer .body .policy li:not(:nth-child(1))::before{
    content: '|';
    padding-right: 10px;
}

footer .body .sns,
footer .body .family{
    font-size: 12px;
    min-width: 160px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px #343434;
    color: #adadad;
    position: relative;
    height: 100%;
}

footer .body .sns p,
footer .body .family p{
    display: flex;
    gap: 10px;
    align-items: center;
}

footer .body .sns p::after,
footer .body .family p::after{
    content: '';
    background-image: url('./bu_familysite.png');
    width: 14px;
    height: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(-180deg);
    transition: .3s;
}

footer .body .sns ul,
footer .body .family ul{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 100%;
    z-index: 1;

    display: block;
    flex-direction: column;

    background-color: #4e4e4e;
    transition: .5s;
    height: 0px;
    overflow: hidden;
}

footer .body .sns ul li,
footer .body .family ul li{
    padding: 10px 20px 0;
    height: 20px;
}

footer .body .sns:hover,
footer .body .family:hover{
    background-color: #4e4e4e;
}

footer .body .sns:hover p::after,
footer .body .family:hover p::after{
    transform: rotate(0);
}

footer .body .sns:hover ul{
    height: 460px;
    min-height: fit-content;
}
footer .body .family:hover ul{
    height: 160px;
}

footer .body .sns ul li:hover,
footer .body .family ul li:hover{
    color: #fff;
}

footer .body .sns ul li > a {
    display: block;
    width: 100%;
}

/* 푸터 파트 */
footer .footer{
    color: #545454;
    font-size: 10.5px;
    text-align: center;
    padding: 40px 0;
}

footer .footer .copyright{
    padding-top: 8px;
}


