.NEWS{
    width: 100%;
    position: relative;
}

.NEWS .news-content{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 50px;
    height: 430px;
    background-color: #4e4e4e;
    position: relative;
}

.NEWS .square{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.NEWS .news-content .square{
    color: #fff;
}

.NEWS .square .text-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    justify-content: flex-start;
    align-items: flex-start;
}

.NEWS .square .text-box h1{
    font-size: 50px;
}

.NEWS .square .text-box h4{
    margin-top: auto;
    font-size: 16px;
}

.NEWS .news-content article{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    position: relative;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.NEWS .news-content .img-box{
    width: 270px;
    height: 330px;
    position: relative;
    top: 0;
    
    /* top: 550px; */
    transition: 1.2s;
}

.NEWS .news-content .img-box:nth-child(2){
    transition: 1.4s;
    /* top: 600px; */
}

.NEWS .news-content .img-box .news-cover{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    background-color: rgba(4, 69, 244, .85);

    transition: .3s;
    cursor: pointer;
    overflow: hidden;
}
.NEWS .news-content .img-box .news-cover .learn-more{
    width: 127px;
    height: 32px;
}
.NEWS .news-content .img-box .news-cover h2,
.NEWS .news-content .img-box .news-cover p,
.NEWS .news-content .img-box .news-cover .learn-more{
    transition: .1s;
    opacity: 0;
    white-space:pre-wrap;
}

.NEWS .news-content .img-box:hover .news-cover{
    opacity: 1;
    width: 100%;
}

.NEWS .news-content .img-box:hover .news-cover h2,
.NEWS .news-content .img-box:hover .news-cover p,
.NEWS .news-content .img-box:hover .news-cover .learn-more{
    transition-delay: .4s;
    opacity: 1;
}