.section1{
    width: 100%;
}

.section1 .bg{
    /* height: calc(100vh - 60px); */
    min-height: fit-content;
    max-height: 500px;
    min-width: 1280px;
    margin: 0 auto;
}

.section1 .bg .img-box:not(:nth-child(1)){
    display: none;
}

.section1 .bg .img-box{
    width: 100%;
    height: 100%;
}

.section1 .bg2{
    display: none;
}
