@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

a{
  all: unset;
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.App{
  box-sizing: border-box;
  width: 100vw;
  padding-right: 100px;
}